In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [12]:
data = pd.read_csv(r'C:\Users\kuvak\Downloads\movie_bd_v5.csv')
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [13]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [14]:
answers = {} # создадим словарь для ответов

# Добавляем колонку прибыль = сборы - бюджет (profit = revenue - budget).
data['profit'] = data.apply(lambda row: row['revenue']-row['budget'], axis = 1)


def data_explode(df, col, cnt = False):
    """
    Принимает на входе объект DataFrame df и 'имя' столбца col.
    Каждое поле столбца col - список элементов с разделителем '|'.
    Если cnt = True ("режим value_counts"):
        - возвращает объект series типа value_counts для столбца col.
    Если cnt = False ("режим DataFrame"):
        - возвращает объект DataFrame c "разъединёнными" элементами столбца col
    """
    df[col] = df[col].str.split('|')
    df = df.explode(col)
    if cnt: 
        return df[col].value_counts()
    return df


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# Добавляем колонку release_month, которая показывает месяц релиза фильма. Берем из столбца release_date.
data['release_month'] = data.release_date.apply(lambda x: x.split("/")[0])

# Добавляем колонку original_title_len, которая показывает количестыо символов в названии фильма (original_title).
data['original_title_len'] = data.original_title.apply(lambda item: len(item))

# Добавляем колонку overview_words_len, которая показывает количестыо слов в описании фильма (overview).
data['overview_words_len'] = data.overview.apply(lambda item: len(item.split()))

# Преобразовываем формат колонки из object в datetime64
data['release_date'] = pd.to_datetime(data['release_date'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '723 Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# запишите свой вариант ответа
answers['1'] = '723 Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [15]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

data = pd.read_csv(r'C:\Users\kuvak\Downloads/movie_bd_v5.csv')

data[(data.budget == data.budget.max())].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157    Gods and Generals'

In [2]:
data[(data.runtime == data.runtime.max())].original_title

1157    Gods and Generals
Name: original_title, dtype: object

In [ ]:
answers['2'] = 'Gods and Generals' #+

# 3. Какой из фильмов самый короткий (в минутах)?

In [3]:
data[(data.runtime == data.runtime.min())].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [ ]:
answers['3'] = 'Winnie the Pooh' #+

# 4. Какова средняя длительность фильмов?

In [4]:
data.runtime.mean()

109.6585494970884

In [6]:
#второй вариант, получаем целое значение
int(data.runtime.mean())

109

In [ ]:
answers['4'] = 110 #+

# 5. Каково медианное значение длительности фильмов?

In [7]:
int(data.runtime.median())

107

In [ ]:
answers['5'] = 107 #+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
data[data.profit == data.profit.max()].original_title

In [ ]:
answers['6'] = 'Avatar' #+

# 7. Какой фильм самый убыточный?

In [0]:
data[data.profit == data.profit.min()].original_title

In [ ]:
answers['7'] = 'The Lone Ranger' #+

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [8]:
len(data[data.revenue > data.budget])

1478

In [ ]:
answers['8'] = 1478 #+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [10]:
# Для начала фильтруем датафрейм по году релиза 2008
# В полученном датафрейме получаем максимальное значение (revenue) кассовые сборы, и выводим название фильма
data_9 = data[data.release_year == 2008]
data_9[data_9.revenue == data_9.revenue.max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

In [ ]:
answers['9'] = 'The Dark Knight' #+

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [6]:
data['profit'] = data.apply(lambda row: row['revenue']-row['budget'], axis = 1)
data_10 = data.query('2012 <= release_year <= 2014')
data_10[data_10.profit == data_10.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [ ]:
answers['10'] = 'The Lone Ranger' #+

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
df = data['genres'].str.split('|')
df_1 = df.explode('genres')

df_2 = df_1.value_counts()
print(df_2.index[0])

In [ ]:
answers['11'] = 'Drama' #+

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [5]:
tmp_data_12 = data[data.profit>0]
pd.Series(tmp_data_12.genres.str.split('|').sum()).value_counts()

'Drama'

In [ ]:
answers['12'] = 'Drama' #+

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [5]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию groupby для столбцов director и revenue, подсчитываем сумму и сортируем для каждого режисера.

data_13 = data.copy()

tmp_data_12 = data_13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]
tmp_data_12

NameError: name 'data' is not defined

In [ ]:
answers['13'] = 'Peter Jackson' #+

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [6]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию data_explode, которая вернет DataFrame с данными для каждого режиссера по отдельности.
data_14 = data_explode(data_14, 'director', cnt = False)
data_14[data_14.genres.str.contains("Action", na=False)].groupby(
    ['director'])['imdb_id'].count().sort_values(ascending=False).index[0]

NameError: name 'data_explode' is not defined

In [0]:
answers['14'] = 'Robert Rodriguez' #+

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
# Копируем в новую переменную исходный DataFrame. Фильруем по году выпуска фильма (2012).
# Применяем функцию data_explode, описание которой в блоке "предобработка", которая вернет data frame с данными для каждого
# актера по отдельности. Далее, группируем по актеру и сборам, сортируем по убыванию, выводим первое имя (индекс 0).
data_15 = data.copy()
data_15 = data_15[data_15.release_year == 2012]
data_15 = data_explode(data_15, 'cast', cnt = False)
data_15.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

In [ ]:
answers['15'] = 'Chris Hemsworth' #+

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [9]:
# Копируем в новую переменную исходный DataFrame.
# Получаем бюджет выше среднего значения
# Применяем функцию data_explode, описание которой в блоке "предобработка", которая вернет value_counts с данными для каждого
# актера по отдельности. Выводим первое имя (индекс 0).
data_16 = data.copy()
data_16 = data_16[data_16.budget > data_16.budget.mean()]
data_explode(data_16, 'cast', cnt = True).index[0]

NameError: name 'data_explode' is not defined

In [ ]:
answers['16'] = 'Matt Damon' #+

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [10]:
data_17 = data.copy()
data_17 = data_17[data_17.cast.str.contains("Nicolas Cage", na=False)]

data_explode(data_17, 'genres', cnt = True).index[0]

NameError: name 'data_explode' is not defined

In [ ]:
answers['17'] = 'Action' #+

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:

data_18 = data.copy()
data_18 = data_explode(data_18, 'production_companies', cnt = False)
data_18[data_18.production_companies.str.contains("Paramount Pictures", na=False)].sort_values(['profit'],ascending=True)['original_title'].iloc[0]

In [ ]:
answers['18'] = 'K-19: The Widowmaker' #+

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [17]:
# Группируем дата по году выыпуска фильма, значением выступает общая сумма кассовых сборов. 
# Далее сортируем по убыванию
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

In [ ]:
answers['19'] = 2015 #+

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
# Создаем DataFrame из изначального data, применив def data_explode.
# Далее находим все упоминания Warner, т.к. есть несколько компаний с таким названием, 
# сортируем по убыванию прибыльности. Выводим название нулевого элемента.
data_20 = data.copy()
data_20 = data_explode(data_20, 'production_companies', cnt = False)
data_20[data_20.production_companies.str.contains("Warner", na=False)].groupby(
    ['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

In [ ]:
answers['20'] = '2014' #+

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
# Создаем в предобработке новую колонку release_monyth. Применяем метод группировки по месяцу, выводя кол-во уникальных фильмов.
data.groupby(['release_month'])['imdb_id'].nunique().sort_values(ascending=False).index[0]

In [ ]:
answers['21'] = 'Сентябрь' #+

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
data['release_month'] = data.release_date.apply(lambda x: x.split("/")[0])
data_22 = data.groupby(['release_month'])['imdb_id'].nunique()
data_22.loc['6']+data_22.loc['7']+data_22.loc['8']

In [ ]:
answers['22'] = 450 #+

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
# Используем метод explode для преобразования списка режисссеров.
# Создаем pivot_table для месяца выхода фильма 12, 1, 2 по колонке месяц выпуска, значения - число фильмов, строки - режессеры, 
# выводим суммарные значения для всех месяцев (margins = True), сортируем по значению All, выводим первую строку, содержащую имя
# режиссера.
data_23 = data_explode(data_23, 'director', cnt = False)
data_23_pivot = data_23.loc[data_23['release_month'].isin(['12','1','2'])].pivot_table(columns = 'release_month', 
                                index = 'director', 
                                values = 'imdb_id', 
                                aggfunc = 'count', margins=True).sort_values(by = 'All', ascending=False)
data_23_pivot.index[1]

In [ ]:
answers['22'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
# В предобработке добавили колонку original_title_len. Расширили Data Frame, по колонке студии с помощью фукнкции data_explode.
# В полученном DF сгруппировали данные по студиям и длинне названия, использовав функции среднего. Отсортировали значения по убыванию,
# вывели нулевой элемент.
data_24 = data.copy()
data_24 = data_explode(data_24, 'production_companies', cnt = False)
data_24.groupby(['production_companies'])['original_title_len'].mean().sort_values(ascending=False).index[0]

In [ ]:
answers['24'] = 'Four By Two Productions' #+

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
# В предобработке добавили колонку overview_words_len. Расширили Data Frame, по колонке студии с помощью фукнкции data_explode.
# В полученном DF сгруппировали данные по студиям и длинне описаний, использовав функции среднего. Отсортировали значения по убыванию,
# вывели нулевой элемент.
data_25 = data.copy()
data_25 = data_explode(data_25, 'production_companies', cnt = False)
data_25.groupby(['production_companies'])['overview_words_len'].mean().sort_values(ascending=False).index[0]

In [ ]:
answers['25'] = 'Midnight Picture Show' #+

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
# Добавляем переменную quntile, которая показывает значение квантиля для рейтингов, выше 99%.
# Далее по данному значению фильруем dataframe data.
quantile = data.vote_average.quantile(q=0.99)
data[data.vote_average >= quantile].sort_values(by = 'vote_average', ascending=False)

In [ ]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [18]:
# в конце можно посмотреть свои ответы к каждому вопросу
# Задаем переменную pairs, которой назначаем словарь из модуля collections - counter, 
# который позволяет нам считать количество неизменяемых объектов
pairs = collections.Counter()

NameError: name 'collections' is not defined

In [ ]:
# Создаем копию изначального dataframe
data_27 = data.copy()

In [ ]:
# Конвертируем значение всех данных в колонке актеров в списки актёров
data_27['cast'] = data_27['cast'].str.split('|')

In [19]:
# Цикл, проходящий по всему DataFrame от 0 до конца data
for i in range(0,len(data)):
    # Переменной actors присыаиваем список актеров строки
    actors = data_27.cast[i]
    # Из модуля itertools используем combinations, который находит комбинации длиной 2 из списка актёров
    # без повторяющихся элементов.
    for pairs_actor in list(combinations(actors, 2)):
        # если пара найденных актёров в словаре отсутсвует, то создаем значение в словаре и присваиваем счётчик "1"
        pairs_actor_reverted = []
        pairs_actor_reverted.append(pairs_actor[1]) 
        pairs_actor_reverted.append(pairs_actor[0])
        if pairs_actor not in pairs:
            if tuple(pairs_actor_reverted) not in pairs:
                pairs[pairs_actor] = 1
            else:
                pairs[tuple(pairs_actor_reverted)] += 1
        # если пара актёров ранее уже встречалась, то увеличиваем счетчик на единицу.
        else:
            pairs[pairs_actor] += 1

# Из словаря выводим три наиболее встречающихся комбинаций актёров.
pairs.most_common(10)

NameError: name 'data_27' is not defined

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)